:root{
    /*variables*/
    --color-header:#D4B5E3;
    --color-nav:#F171F1;
    --color-nav-dark:#D407F9;
    --color-section:#F32CCC;
    --color-aside:#ECA5C2;
    --color-footer:#7CDAC6;
    --color-white:#51420A;
    --color-black:#DBF216;
}
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-header{
background-color: var(--color-header);
color: var(--color-white);
line-height: 5;
text-align: center;
}
.main-nav{
    background-color: var(--color-nav);
}
@media screen and (min-width:768px){
    .nav-container{
        display: flex;
    }
    .nav-container_item{
        flex-grow: 1;
    }
}
.nav-container_item{
    text-align: center;
    line-height: 2.5;
    border-bottom: 1px solid var(--color-nav-dark);
}
.nav-container_item:hover{
    background-color:var(--color-nav-dark);

}
.nav-container_link{
    color:var(--color-white);
    display: block;
    width: 100%;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
@media screen and (min-width:1024px){
    .main-container{
        display: flex;
        flex-direction: row;
    }
    .main-container_section{
        flex-basis: 60%;
    }
    .main-container_aside{
        flex-basis: 40%;
    }
}
.main-container_section{
    background-color: var(--color-section);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-white);
}
.main-container_aside{
    background-color: var(--color-aside);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-white);
}
.main-footer{
    background-color: var(--color-footer);
    color:var(--color-white);
    line-height: 5;
    text-align: center;
    margin-top: auto;
}